@import url("https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// colors
$green: #53ff8d;
$black: #161616;
$grey: #252525;
$grey-2: #828282;
$white: #ffffff;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Scada", sans-serif;
  color: $white;
  background-color: $black;
}
